<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Maps Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLfQbPsyguK63fGVLprSUDBOuhy2fLCs4&callback=initMap" async defer></script>
</head>
<body>
<div id="map" style="width: 100%; height: 500px;"></div>
<div id="map-container" th:attr="data-locations=${locationsJson}" style="display: none;"></div>
<script>
    window.initMap = function () {
        const mapContainer = document.getElementById("map-container");
        const locations = JSON.parse(mapContainer.getAttribute("data-locations"));
        console.log("전달된 위치 데이터:", locations);

        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 37.5665, lng: 126.9780 }, // 서울 중심 좌표
            zoom: 10,
        });

        locations.forEach(({ address, lat, lng }) => {
            const marker = new google.maps.Marker({
                position: { lat, lng },
                map,
                title: address,
            });

            const infoWindow = new google.maps.InfoWindow({
                content: `<div>${address}</div>`,
            });

            marker.addListener("click", () => {
                infoWindow.open(map, marker);
            });
        });
    };
</script>
</body>
</html>
