<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script>
    function loginBtn() {
        var params = {
            userId: $('#user_id').val(),
            userPwd: $('#user_pwd').val(),
        }
        $.ajax({
            url: '/user/login',
            type: 'post',
            data: params, // JSON.stringify를 사용하지 않음
            //dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // 기본 방식으로 전송
            success: function (data) {
                window.location.href = data;
            },
            error: function (err) {
                console.log(err);
                var errorMessage = err.responseJSON ? err.responseJSON.message : "알 수 없는 오류가 발생했습니다.";
                alert(errorMessage);
            },
        });

    }

    function registerBtn() {
        window.location.href = "/user/UserRegister";
    }

    function enterkey() {
        if (window.event.keyCode == 13) {
            loginBtn();
        }
    }

    function findIdPwBtn() {
        window.location.href = "/user/UserFindIdPw";
    }

    function googleLoginBtn() {
        window.location.href = "/oauth2/authorization/google";
    }
</script>
<body>
<div class="container12">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="jumbotron" style="padding-top: 20px;">

            <h3 style="text-align: center;">로그인 화면</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="아이디" id="user_id" maxlength="20"  onkeyup="enterkey()">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="비밀번호" id="user_pwd" maxlength="20"  onkeyup="enterkey()">
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary form-control" value="로그인" onclick="loginBtn()">
                <div style="height: 10px;"></div>
                <input type="button" class="btn btn-primary form-control" value="회원가입" onclick="registerBtn()">
                <div style="height: 10px;"></div>
                <input type="button" class="btn btn-primary form-control" value="ID/PW 찾기" onclick="findIdPwBtn()">
                <div style="height: 10px;"></div>
                <input type="button" class="btn btn-primary form-control" value="구글로그인" onclick="googleLoginBtn()">
            </div>

        </div>
    </div>
</div>
</body>
</html>